apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: api
  namespace: monitoring
spec:
  namespaceSelector:
    matchNames:
      - project-crypto
  selector:
    matchLabels:
      app: api
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
