apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: project-crypto
data:
  prometheus.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://monitoring-kube-prometheus-prometheus.monitoring.svc:9090
        isDefault: true
        editable: false
